.body {
    margin-top: 2rem;
    display: flex;
}

.body > h2, 
.body > ul,
.body > p {
    width: 100%;
}

.body > ul,
.body > p {
    margin: 0.1rem 0;
}

.body > ul {
    margin: 0.5rem 0;
}


.body > ul {
    display: inline-flex;
    justify-content: space-between;

    width: 25%;
}
